:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 1920px;
  margin: 0 auto;
  background: #0d1117;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 1742px;
  height: 81px;
  margin: 47px 0 0 89px;
  z-index: 36;
}
.bg-ui-btn {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: 1672px;
  background: url(./assets/images/00c2bd1f-8ba1-4a3c-844a-5d11ed183e9a.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
  border-radius: 50%;
}
.icon {
  position: absolute;
  width: 53.333px;
  height: 53.333px;
  top: 8.333px;
  left: 1680.333px;
  background: url(./assets/images/fb19c9a0-1664-411a-8e24-8eed53aef7e8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 29;
}
.bg-ui-btn-back {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 11px;
  left: 0;
  background: #b1b1b1;
  z-index: 36;
  border-radius: 5px;
}
.icon-1 {
  position: relative;
  width: 33.333px;
  height: 33.333px;
  margin: 18.333px 0 0 18.333px;
  background: url(./assets/images/a035f8df-2a80-49af-84ac-a00c62e2bf12.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 38;
}
.bg-ui-btn-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 1452px;
  background: url(./assets/images/0b40a252-2a43-4f6a-b6de-b37ba914c599.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
  border-radius: 50%;
}
.bg-ui-btn-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 1562px;
  background: url(./assets/images/30ad845a-d416-4f27-ac78-33282e436fae.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  border-radius: 50%;
}
.icon-notifications {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 18px;
  left: 1455px;
  z-index: 34;
  overflow: hidden;
}
.icon-4 {
  position: relative;
  width: 29.333px;
  height: 36.667px;
  margin: 3.667px 0 0 7.333px;
  background: url(./assets/images/2c79ce16-f78d-41fc-93fb-2e85fb320dc7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 35;
}
.icon-5 {
  position: absolute;
  width: 36.85px;
  height: 36.667px;
  top: 21.667px;
  left: 1568.575px;
  background: url(./assets/images/c15b005b-be65-49a7-acc3-f939ff8f905b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.flex-row-cbf {
  position: relative;
  width: 1609px;
  height: 1608px;
  margin: 77px 0 0 165px;
  z-index: 6;
}
.background-all-commit {
  position: absolute;
  width: 533px;
  height: 535px;
  top: 0;
  left: 0;
  background: #212830;
  z-index: 6;
  border-radius: 25px;
}
.background-commit {
  position: relative;
  width: 497px;
  height: 70px;
  margin: 25px 0 0 17px;
  background: #ababab;
  border: 1px solid #000000;
  z-index: 23;
  overflow: hidden;
  border-radius: 20px;
}
.text-commit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 8px;
  left: 21px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.68px;
  z-index: 26;
}
.icon-6 {
  position: absolute;
  width: 29.883px;
  height: 22.046px;
  top: 23.954px;
  left: 438.058px;
  background: url(./assets/images/072de46e-9dc5-4cda-baba-7096061c98b2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 25;
}
.background-commit-7 {
  position: relative;
  width: 497px;
  height: 72px;
  margin: 30px 0 0 17px;
  cursor: pointer;
  background: #ababab;
  border: 1px solid #000000;
  z-index: 19;
  border-radius: 20px;
}
.text-commit-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 41px;
  top: 8px;
  left: 21px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.68px;
  z-index: 22;
}
.icon-9 {
  position: absolute;
  width: 29.883px;
  height: 22.046px;
  top: 23.954px;
  left: 438.058px;
  background: url(./assets/images/24bf9803-961a-48f0-9c9e-5f3fad8f7345.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}
.background-commit-a {
  position: relative;
  width: 497px;
  height: 71px;
  margin: 29px 0 0 18px;
  cursor: pointer;
  background: #ababab;
  border: 1px solid #000000;
  z-index: 15;
  border-radius: 20px;
}
.text-commit-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 41px;
  top: 12px;
  left: 21px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.68px;
  z-index: 18;
}
.icon-c {
  position: absolute;
  width: 25.667px;
  height: 25.667px;
  top: 22.167px;
  left: 440.167px;
  background: url(./assets/images/66749d6e-88c3-4435-9c6d-40397f7f6744.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 17;
}
.background-commit-d {
  position: relative;
  width: 497px;
  height: 71px;
  margin: 30px 0 0 17px;
  cursor: pointer;
  background: #ababab;
  border: 1px solid #000000;
  z-index: 11;
  border-radius: 20px;
}
.text-commit-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 41px;
  top: 8px;
  left: 21px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.68px;
  z-index: 12;
}
.icon-f {
  position: absolute;
  width: 25.667px;
  height: 25.667px;
  top: 19.167px;
  left: 440.167px;
  background: url(./assets/images/fc44a0f9-1dc3-4864-bae6-fbc1eeea25c9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.backgroung-commit {
  position: relative;
  width: 497px;
  height: 71px;
  margin: 30px 0 0 18px;
  cursor: pointer;
  background: #ababab;
  border: 1px solid #000000;
  z-index: 7;
  border-radius: 20px;
}
.text-commit-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 41px;
  top: 8px;
  left: 21px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.68px;
  z-index: 10;
}
.icon-statuse-clock {
  position: absolute;
  width: 44px;
  height: 42px;
  top: 14px;
  left: 431px;
  z-index: 8;
  overflow: hidden;
}
.icon-11 {
  position: relative;
  width: 40.667px;
  height: 39px;
  margin: 1.5px 0 0 1.667px;
  background: url(./assets/images/254a13eb-e499-4517-acd8-4e7ba451b6b3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 9;
}
.background-code {
  position: absolute;
  width: 1042px;
  height: 1608px;
  top: 0;
  left: 567px;
  background: #212830;
  border-radius: 25px;
}
.flex-row-afa {
  position: relative;
  width: 986px;
  height: 67px;
  margin: 11px 0 0 36px;
  z-index: 5;
}
.backgroung-btn-send {
  position: absolute;
  width: 380px;
  height: 67px;
  top: 0;
  left: 606px;
  background: #ababab;
  z-index: 3;
  overflow: hidden;
  border-radius: 25px;
}
.text-btn-send {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 52px;
  top: 13px;
  left: 19px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.57px;
  z-index: 4;
}
.text-lang {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 54px;
  top: 13px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.57px;
  z-index: 5;
}
.background-write-code {
  position: relative;
  width: 1041px;
  height: 1517px;
  margin: 13px 0 0 0;
  background: #151b23;
  border: 1px solid #ffffff;
  z-index: 2;
  border-radius: 0 0 25px 25px;
}
.field-write-code {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 995px;
  height: 1462px;
  top: 36px;
  left: 24px;
  color: #ffffff;
  font-family: PT Mono, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  text-align: left;
  letter-spacing: -0.47px;
  z-index: 2;
}
